<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Login patient_register</title>
    <link rel="stylesheet" href="../static/css/patient_login.css">
</head>
<body>
    <div class="login-container">
        <h2>Patient Login</h2>
        <form>
            <input type="text" placeholder="Enter Username" required/>
            <input type="password" placeholder="Enter password" required/>
            <button type="submit">Login</button>
        </form>
        <div class="register-section">
        <span>New user?</span>
        <a href="patient_register.html">Register Here</a>
        </div>
    </div>
</body>
</html>