<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bank System</title>
    <link rel="stylesheet" href="../static/css/blood_bank_system.css">
</head>
<body>
    <div class="container">
        <h1>Welcome To</h1>
        <h2>Blood Bank System</h2>
        <h4>Your contribution can save a life.join hands to help those in read</h4>
        <button class="btn1">Make a Blood Request</button>
        <button class="btn2">Blood Donate History</button>

    </div>
</body>
</html>