<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Registration</title>
</head>

<body>
    <div id="header">
        <h2>Donor Registration</h2>
    </div>

    <div id="form-container">
        <form>
            <label>Username:</label><br>
            <input type="text" required><br><br>
            <label>Email address:</label><br>
            <input type="email" required><br><br>
            <label>Password:</label><br>
            <input type="password" required><br><br>
            <label>Phone no:</label><br>
            <input type="tel" required><br><br>
            <label>Address</label><br>
            <input type="text" required><br><br>
        </form>
    </div>


</body>

</html>