<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Login Page</title>
</head>

<body>
    <div id="card">
        <div id="donor-section">
            <h2 id="heading">Donor Login</h2>
        </div>
        <div id="form-section">
            <form id="loginfrom">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
                <button type="submit">Login</button>
        </div>
        <div id="register-link">
            <p>New user? <a href="./register.html">Register Here</a></p>
        </div>
        </form>
    </div>
</body>

</html>