<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Registration</title>
    <link rel="stylesheet" href="/static/css/donor_registration.css">
</head>

<body>
    <div id="card">
    <div id="header">
      <h2>Donor Registration</h2>
    </div>

    <div id="form-container">
      <form action="/submit_registration" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="email">Email address:</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <label for="phone">Phone no:</label>
        <input type="tel" id="phone" name="phone" required />

        <label for="address">Address:</label>
        <textarea id="address" name="address" rows="3" required></textarea>

        <div id="register-button">
          <button type="submit">Register</button>
        </div>
      </form>
    

    <div id="login-link">
      <p>Already have an account? <a href="/templates/donor_login.html">Login here</a></p>
    </div></div>
  </div>
</body>

</html>